<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
    <div th:fragment="language-selector" class="language-selector">
        <th:block th:if="${#locale.language != 'en'}">
            <a th:href="@{''(lang=en)}" class="lang-link" th:text="#{language.en}">Английский</a>
        </th:block>
        <th:block th:if="${#locale.language == 'en'}">
            <a th:href="@{''(lang=)}" class="lang-link" th:text="#{language.ru}">Русский</a>
        </th:block>
    </div>
</body>
</html>